AuthType Basic
AuthName "Audiobook Reader"
AuthUserFile /var/www/vhosts/simulationchanged.com/.htpasswd
Require valid-user

# Block direct access to the password file
<Files ".htpasswd">
    Require all denied
</Files>

<Files ".htaccess">
    Require all denied
</Files>
